<div class="row">
  <!--item-->
  <section class="content center full-width wow fadeIn animated" style="visibility: visible">
    <% @plants.each do |p| %>
    <%= render 'plants/sample' , :p => p %>
    <% end %>
    <% if @plants.count == 0 %>
    <p>
      هنوز
      گیاهی وجود ندارد
    </p>
    <% end %>
  </section>
  <!--//content-->
</div>
