<div class="entries row">
  <% @tempeople.each do |p| %>
      <!--item-->
      <div class="entry one-third">
        <figure>
          <% if p.profile_photo.present? %>
              <%= image_tag p.profile_photo_url %>
          <% else %>
              <img src="/assets/default_profile.png" alt="">
          <% end %>
          <figcaption>
            <%=link_to profile_path(p) ,:class=>"make_bold"  do %>
                <!-- <a href="recipe.html"> -->
                <i class="ico i-view"></i>
                <span><%= p.first_name %> <%= p.last_name%></span>
                <!-- </a> -->
            <% end %>
          </figcaption>
        </figure>
        <div class="container">
          <h2>
            <!--<a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Thai fried rice with fruit and vegetables</a>-->
          </h2>
          <div class="actions">
            <div>
              <!--<div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>-->
              <div class="likes"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
              <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
              <!--<div class="likes"><i class="ico i-members"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>-->

            </div>
          </div>
        </div>
      </div>
      <!--item-->
  <% end %>

<% if @tempeople.empty? %>
<div class="entry one-third center">
    <figure>
      <img src="/assets/img5.jpg" alt="">
      <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
    </figure>
    <div class="container">
      <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">!گیاهان به موسیقی گوش می دهند</a></h2>
      <div class="actions">
        <div>
          <div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>
          <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
          <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
        </div>
      </div>
    </div>
  </div>
<div class="entry one-third center">
    <figure>
      <img src="/assets/img5.jpg" alt="">
      <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
    </figure>
    <div class="container">
      <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">!گیاهان به موسیقی گوش می دهند</a></h2>
      <div class="actions">
        <div>
          <div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>
          <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
          <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
        </div>
      </div>
    </div>
  </div>
<div class="entry one-third center">
    <figure>
      <img src="/assets/img5.jpg" alt="">
      <figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
    </figure>
    <div class="container">
      <h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">!گیاهان به موسیقی گوش می دهند</a></h2>
      <div class="actions">
        <div>
          <div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>
          <div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>
          <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
        </div>
      </div>
    </div>
  </div>
<% end %>


</div>

<!--&lt;!&ndash;item&ndash;&gt;-->
<!--<div class="entry one-third">-->
<!--<figure>-->
<!--<img src="./SocialChef_files/img5.jpg" alt="">-->
<!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>-->
<!--</figure>-->
<!--<div class="container">-->
<!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> -->
<!--<div class="actions">-->
<!--<div>-->
<!--<div class="difficulty"><i class="ico i-hard"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">hard</a></div>-->
<!--<div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>-->
<!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;item&ndash;&gt;-->

<!--&lt;!&ndash;item&ndash;&gt;-->
<!--<div class="entry one-third">-->
<!--<figure>-->
<!--<img src="./SocialChef_files/img8.jpg" alt="">-->
<!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>-->
<!--</figure>-->
<!--<div class="container">-->
<!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Super easy blueberry cheesecake</a></h2> -->
<!--<div class="actions">-->
<!--<div>-->
<!--<div class="difficulty"><i class="ico i-easy"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">easy</a></div>-->
<!--<div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>-->
<!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;item&ndash;&gt;-->
<!--</div>-->
<!--//my recipes-->
