<br>
<br>
<br>
<br>
<br>
<%= form_tag(mail_new_pass_initial_index_path, method: :get)do %>
	<p>ایمیل خود را وارد کنید</p>
	<div class="one-third modal ">
		<%= text_field_tag :address, "" , :placeholder => "آدرس پستی خود را وارد کنید", class: "make_center" %>
	</div>
	<%= submit_tag "ارسال گذر واژه ی جدید", :class=>"b_farsi button sign_in_bt"%>
<%end%>