
<main class="main" role="main">

  <div class="wrap clearfix">
    <!--breadcrumbs-->
    <nav role="navigation" class="breadcrumbs">
      <ul>
        <li>
          <!-- <a href="http://www.themeenergy.com/themes/wordpress/social-chef" title="Home">Home</a> -->
        </li>
        <li>
          جستجو
        </li>
      </ul>
    </nav>
    <!--//breadcrumbs-->
    <div class="row">
      <section class="content full-width">
        <div class="recipefinder">
          <nav class="tabs">
            <ul>
              <li class="active">
                <a href="#tab1" title="Search by ingredients">Search by ingredients</a></li>
              <li class=""><a href="#tab2" title="Classic search">Classic search</a></li>
            </ul>
          </nav>
          <div class="tab-content white-tab" id="tab1" style="display: none;">
            <form id="custom-search-1" method="get" action="http://www.themeenergy.com/themes/wordpress/social-chef/custom-search/?term=cake&amp;cat=0&amp;mc=0&amp;diff=0&amp;serv=0&amp;cook=0&amp;prep=0">
              <div class="left">
                <h3>Search by ingredients</h3>
                <p>Click the '-' to remove an ingredient, or click the ingredient itself to emphasize</p>
                <div class="f-row">
                  <input id="ingredient_name" type="text" placeholder="Add ingredients (one at a time)" autocomplete="off"><ul class="suggest-results" style="top: 530px; left: 0px;"></ul>
                  <button class="add add_search_ingredient">+</button>
                </div>
                <div class="added-ingredients"></div>
                <div class="f-row">
                  <input type="submit" value="Search">
                </div>
              </div>
              <div class="right">
                <div class="ingredients">
                  <h3>Do you also have?</h3>
                  <a href="#" class="add_random_search_ingredient button gold">Pasta</a>
                  <a href="#" class="add_random_search_ingredient button gold">Chicken</a>
                  <a href="#" class="add_random_search_ingredient button gold">Sprinkles</a>
                  <a href="#" class="add_random_search_ingredient button gold">Bananas</a>
                  <a href="#" class="add_random_search_ingredient button gold">Olive oil</a>
                  <a href="#" class="add_random_search_ingredient button gold">Garlic</a>
                  <a href="#" class="add_random_search_ingredient button gold">Prawns</a>
                  <a href="#" class="add_random_search_ingredient button gold">Self-raising flour</a>
                  <a href="#" class="add_random_search_ingredient button gold">Vanilla extract</a>
                  <a href="#" class="add_random_search_ingredient button gold">Chilli</a>
                  <a href="#" class="add_random_search_ingredient button gold">Brown sugar</a>
                  <a href="#" class="add_random_search_ingredient button gold">Eggs</a>
                  <a href="#" class="add_random_search_ingredient button gold">Tuna</a>
                  <a href="#" class="add_random_search_ingredient button gold">Onion</a>
                  <a href="#" class="add_random_search_ingredient button gold">Lettuce</a>
                  <a href="#" class="add_random_search_ingredient button gold">Plain chocolate</a>
                  <a href="#" class="add_random_search_ingredient button gold">Salmon</a>
                  <a href="#" class="add_random_search_ingredient button gold">Plain flour</a>
                  <a href="#" class="add_random_search_ingredient button gold">Double cream</a>
                  <a href="#" class="add_random_search_ingredient button gold">Rice</a>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-content white-tab" id="tab2" style="">
            <h3>Please select your search parameters and press "Search for recipes"</h3>
            <form id="custom-search-2" method="get" action="http://www.themeenergy.com/themes/wordpress/social-chef/custom-search/?term=cake&amp;cat=0&amp;mc=0&amp;diff=0&amp;serv=0&amp;cook=0&amp;prep=0">
              <div class="row">
                <div class="search one-fourth">
                  <input type="search" name="term" id="search_term" value="cake" placeholder="Recipe name">
                </div>
                <div class="one-fourth">
                  <div class="selector" id="uniform-recipe_category" style="width: 132px;"><span style="width: 120px; -webkit-user-select: none;">Select category</span><select name="cat" id="recipe_category">
                    <option value="0">Select category</option>

                    <option value="44">Appetizers</option>

                    <option value="38">Asian</option>

                    <option value="42">Cocktails</option>

                    <option value="43">Deserts</option>

                    <option value="369">Eggs</option>

                    <option value="45">Equipment</option>

                    <option value="46">Events</option>

                    <option value="41">Fish</option>

                    <option value="40">Fitness</option>

                    <option value="373">Healthy</option>

                    <option value="48">Kids</option>

                    <option value="34">Meat</option>

                    <option value="37">Mexican</option>

                    <option value="47">Pizza</option>

                    <option value="36">Salads</option>

                    <option value="35">Snacks</option>

                    <option value="49">Storage</option>
                  </select></div>
                </div>
                <div class="one-fourth">
                  <div class="selector" id="uniform-recipe_meal_course" style="width: 153px;"><span style="width: 141px; -webkit-user-select: none;">Select meal course</span><select name="mc" id="recipe_meal_course">
                    <option value="0">Select meal course</option>

                    <option value="28">Breakfast</option>

                    <option value="33">Desert</option>

                    <option value="30">Dinner</option>

                    <option value="29">Lunch</option>

                    <option value="32">Snack</option>

                    <option value="31">Supper</option>
                  </select></div>
                </div>
                <div class="one-fourth">
                  <div class="selector" id="uniform-recipe_difficulty" style="width: 132px;"><span style="width: 120px; -webkit-user-select: none;">Select difficulty</span><select name="diff" id="recipe_difficulty">
                    <option value="0">Select difficulty</option>

                    <option value="25">easy</option>

                    <option value="27">hard</option>

                    <option value="26">moderate</option>
                  </select></div>
                </div>
              </div>
              <div class="row">
                <div class="one-third">
                  <div class="selector" id="uniform-recipe_serving" style="width: 173px;"><span style="width: 161px; -webkit-user-select: none;">Maximum serving size</span><select name="serv" id="recipe_serving">
                    <option value="0">Maximum serving size</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select></div>
                </div>
                <div class="one-third">
                  <div class="selector" id="uniform-recipe_cooking_time" style="width: 145px;"><span style="width: 133px; -webkit-user-select: none;">Max cooking time</span><select name="cook" id="recipe_cooking_time">
                    <option value="0">Max cooking time</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                    <option value="60">60</option>
                    <option value="61">61</option>
                    <option value="62">62</option>
                    <option value="63">63</option>
                    <option value="64">64</option>
                    <option value="65">65</option>
                    <option value="66">66</option>
                    <option value="67">67</option>
                    <option value="68">68</option>
                    <option value="69">69</option>
                    <option value="70">70</option>
                    <option value="71">71</option>
                    <option value="72">72</option>
                    <option value="73">73</option>
                    <option value="74">74</option>
                    <option value="75">75</option>
                    <option value="76">76</option>
                    <option value="77">77</option>
                    <option value="78">78</option>
                    <option value="79">79</option>
                    <option value="80">80</option>
                    <option value="81">81</option>
                    <option value="82">82</option>
                    <option value="83">83</option>
                    <option value="84">84</option>
                    <option value="85">85</option>
                    <option value="86">86</option>
                    <option value="87">87</option>
                    <option value="88">88</option>
                    <option value="89">89</option>
                    <option value="90">90</option>
                    <option value="91">91</option>
                    <option value="92">92</option>
                    <option value="93">93</option>
                    <option value="94">94</option>
                    <option value="95">95</option>
                    <option value="96">96</option>
                    <option value="97">97</option>
                    <option value="98">98</option>
                    <option value="99">99</option>
                    <option value="100">100</option>
                    <option value="101">101</option>
                    <option value="102">102</option>
                    <option value="103">103</option>
                    <option value="104">104</option>
                    <option value="105">105</option>
                    <option value="106">106</option>
                    <option value="107">107</option>
                    <option value="108">108</option>
                    <option value="109">109</option>
                    <option value="110">110</option>
                    <option value="111">111</option>
                    <option value="112">112</option>
                    <option value="113">113</option>
                    <option value="114">114</option>
                    <option value="115">115</option>
                    <option value="116">116</option>
                    <option value="117">117</option>
                    <option value="118">118</option>
                    <option value="119">119</option>
                    <option value="120">120</option>
                    <option value="121">121</option>
                    <option value="122">122</option>
                    <option value="123">123</option>
                    <option value="124">124</option>
                    <option value="125">125</option>
                    <option value="126">126</option>
                    <option value="127">127</option>
                    <option value="128">128</option>
                    <option value="129">129</option>
                    <option value="130">130</option>
                    <option value="131">131</option>
                    <option value="132">132</option>
                    <option value="133">133</option>
                    <option value="134">134</option>
                    <option value="135">135</option>
                    <option value="136">136</option>
                    <option value="137">137</option>
                    <option value="138">138</option>
                    <option value="139">139</option>
                    <option value="140">140</option>
                    <option value="141">141</option>
                    <option value="142">142</option>
                    <option value="143">143</option>
                    <option value="144">144</option>
                    <option value="145">145</option>
                    <option value="146">146</option>
                    <option value="147">147</option>
                    <option value="148">148</option>
                    <option value="149">149</option>
                    <option value="150">150</option>
                    <option value="151">151</option>
                    <option value="152">152</option>
                    <option value="153">153</option>
                    <option value="154">154</option>
                    <option value="155">155</option>
                    <option value="156">156</option>
                    <option value="157">157</option>
                    <option value="158">158</option>
                    <option value="159">159</option>
                    <option value="160">160</option>
                    <option value="161">161</option>
                    <option value="162">162</option>
                    <option value="163">163</option>
                    <option value="164">164</option>
                    <option value="165">165</option>
                    <option value="166">166</option>
                    <option value="167">167</option>
                    <option value="168">168</option>
                    <option value="169">169</option>
                    <option value="170">170</option>
                    <option value="171">171</option>
                    <option value="172">172</option>
                    <option value="173">173</option>
                    <option value="174">174</option>
                    <option value="175">175</option>
                    <option value="176">176</option>
                    <option value="177">177</option>
                    <option value="178">178</option>
                    <option value="179">179</option>
                    <option value="180">180</option>
                  </select></div>
                </div>
                <div class="one-third">
                  <div class="selector" id="uniform-recipe_prep_time" style="width: 166px;"><span style="width: 154px; -webkit-user-select: none;">Max preparation time</span><select name="prep" id="recipe_prep_time">
                    <option value="0">Max preparation time</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                    <option value="60">60</option>
                    <option value="61">61</option>
                    <option value="62">62</option>
                    <option value="63">63</option>
                    <option value="64">64</option>
                    <option value="65">65</option>
                    <option value="66">66</option>
                    <option value="67">67</option>
                    <option value="68">68</option>
                    <option value="69">69</option>
                    <option value="70">70</option>
                    <option value="71">71</option>
                    <option value="72">72</option>
                    <option value="73">73</option>
                    <option value="74">74</option>
                    <option value="75">75</option>
                    <option value="76">76</option>
                    <option value="77">77</option>
                    <option value="78">78</option>
                    <option value="79">79</option>
                    <option value="80">80</option>
                    <option value="81">81</option>
                    <option value="82">82</option>
                    <option value="83">83</option>
                    <option value="84">84</option>
                    <option value="85">85</option>
                    <option value="86">86</option>
                    <option value="87">87</option>
                    <option value="88">88</option>
                    <option value="89">89</option>
                    <option value="90">90</option>
                    <option value="91">91</option>
                    <option value="92">92</option>
                    <option value="93">93</option>
                    <option value="94">94</option>
                    <option value="95">95</option>
                    <option value="96">96</option>
                    <option value="97">97</option>
                    <option value="98">98</option>
                    <option value="99">99</option>
                    <option value="100">100</option>
                    <option value="101">101</option>
                    <option value="102">102</option>
                    <option value="103">103</option>
                    <option value="104">104</option>
                    <option value="105">105</option>
                    <option value="106">106</option>
                    <option value="107">107</option>
                    <option value="108">108</option>
                    <option value="109">109</option>
                    <option value="110">110</option>
                    <option value="111">111</option>
                    <option value="112">112</option>
                    <option value="113">113</option>
                    <option value="114">114</option>
                    <option value="115">115</option>
                    <option value="116">116</option>
                    <option value="117">117</option>
                    <option value="118">118</option>
                    <option value="119">119</option>
                    <option value="120">120</option>
                    <option value="121">121</option>
                    <option value="122">122</option>
                    <option value="123">123</option>
                    <option value="124">124</option>
                    <option value="125">125</option>
                    <option value="126">126</option>
                    <option value="127">127</option>
                    <option value="128">128</option>
                    <option value="129">129</option>
                    <option value="130">130</option>
                    <option value="131">131</option>
                    <option value="132">132</option>
                    <option value="133">133</option>
                    <option value="134">134</option>
                    <option value="135">135</option>
                    <option value="136">136</option>
                    <option value="137">137</option>
                    <option value="138">138</option>
                    <option value="139">139</option>
                    <option value="140">140</option>
                    <option value="141">141</option>
                    <option value="142">142</option>
                    <option value="143">143</option>
                    <option value="144">144</option>
                    <option value="145">145</option>
                    <option value="146">146</option>
                    <option value="147">147</option>
                    <option value="148">148</option>
                    <option value="149">149</option>
                    <option value="150">150</option>
                    <option value="151">151</option>
                    <option value="152">152</option>
                    <option value="153">153</option>
                    <option value="154">154</option>
                    <option value="155">155</option>
                    <option value="156">156</option>
                    <option value="157">157</option>
                    <option value="158">158</option>
                    <option value="159">159</option>
                    <option value="160">160</option>
                    <option value="161">161</option>
                    <option value="162">162</option>
                    <option value="163">163</option>
                    <option value="164">164</option>
                    <option value="165">165</option>
                    <option value="166">166</option>
                    <option value="167">167</option>
                    <option value="168">168</option>
                    <option value="169">169</option>
                    <option value="170">170</option>
                    <option value="171">171</option>
                    <option value="172">172</option>
                    <option value="173">173</option>
                    <option value="174">174</option>
                    <option value="175">175</option>
                    <option value="176">176</option>
                    <option value="177">177</option>
                    <option value="178">178</option>
                    <option value="179">179</option>
                    <option value="180">180</option>
                  </select></div>
                </div>
              </div>
              <div class="f-row">
                <input type="submit" value="Search for recipes">
              </div>
            </form>
          </div>
        </div>
        <div class="entries row">
          <% Planter.all.first(10).each do |p| %>
              <%= render 'planters/sample', :p => p %>
          <% end %>
        </div><!--entries-->
        <div class="quicklinks">
        <a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
      </div>
        <div class="pager">
        </div>
      </section><!--//three-fourth-->
    </div><!--//row-->
  </div>

</main>



<script type="application/javascript">
    $(window).load(function(){
        $('.keeper').find('img').each(function(){
            var imgClass = (this.width/this.height > 1) ? 'wide' : 'tall';
            $(this).addClass(imgClass);
        })
    })
</script>