<div class="cwrap">
  <header class="s-title">
    <h2 class="make_right title_in_middle">
      ارزان ترین ها

    </h2>
  </header>
  <!--entries-->
  <div class="entries row">
    <% Shoppe::Product.all.active.order('price').first(6).each do |prod| %>
        <%= render 'products/product' , :prod => prod , :rel => 3 %>
    <% end %>
  </div>
  <!--//entries-->
</div>