.basket
  - if not session[:object_one].nil?
  - @product1 = Shoppe::Product.where(:id =>  session[:object_one]).first
    %span.pull-right 1)
    -if @product1.present?
      %p.quantity= (link_to @product1.name , product_path(@product1.product_category.permalink, @product1.permalink))
    -else
      %p.quantity خطا در سیستم، مورد مقایسه حذف شده است
  - if not session[:object_two].nil?
  - @product2 =  Shoppe::Product.where(:id => session[:object_two]).first
    %span.pull-right 2)
    -if @product2.present?
      %p.quantity= (link_to @product2.name , product_path(@product2.product_category.permalink, @product2.permalink))
    -else
      %p.quantity خطا در سیستم، مورد مقایسه حذف شده است
  - if session[:object_one].nil? and session[:object_two].nil?
    %p.empty <b>موردی در لیست مقایسه نمی باشد</b>
  -elsif session[:object_one].present? and session[:object_two].present?
    %p.buttons.text-right= link_to "مشاهده", show_list_path
