%ul.reasons.wow.animated.fadeInLeft
  %li.support
    %h4 پیگیری تلفنی سفارشات
    %p همکاران ما سفارشات شما رو تلفنی پیگیری میکنند تا شما از وضعیت سفارش خود آگاه باشید
  %li.quality
    %h4 تضمین کیفیت
    %p ما کیفیت، صحت و سلامت تمامی کتاب ها را بررسی می کنیم تا شما اطمینان خاطر داشته باشید
  %li.delivery
    %h4 تحویل روز بعد
    %p سفارشات قبل از ساعت ۴ عصر تا روز بعد درب منزل شما خواهد بود