= content_for :sidebar do
  .checkout
    %dl
      %dt آیا اطلاعات شخصی من ایمن هستند؟
      %dd بله! این سایت توسط استاندارد های صنعتی قفل گزاری شده است و ما اطلاعات شخصی مشتریان را بر روی سرورهایمان ذخیره نمی کنیم
      %dt چه مدت طول می کشد تا سفارش من به دستم برسد؟
      %dd این بستگی به دارد به ساعت سفارش شما، اگر تا قبل از ساعت ۴ عصر سفارش دهید تا روز بعد سفارش به آدرس شما می رسد، در غیر اینصورت می توانید انتظار یک روز دیگر تاخیر را داشته باشید.
      %dt چه نحو پرداخت هایی قبول می کنید؟
      %dd پیک های ما هنگام تحویل کتاب ها مجهز به سیستم عابر بانک همراه هستند و شما می توانید از پرداخت نقدی و یا پرداخت بوسیله عابر بانک خود استفاده کنید
