<%- @page_title = 'سبد خرید' %>

<div class="content three-fourth ">
  <div class="make_right">

    <h2>
      سبد خرید شما
    </h2>
    <p>
      کالای لیست شده در زیر در حال حاضر در سبد خرید شما موجود اند. اگر آماده به پرداخت آنها هستید فقط کافیست دکمه پرداخت در سمت راست را بزنید، ما چند سوال کوتاه از شما می پرسیم و سفارش شما آماده ارسال خواهد بود
    </p>
  </div>

  <%= render 'shared/order_items', :order => current_order %>
</div>
