<div class="wrap clearfix">
  <h1 style="text-align: center;">
    جستجو در پایگاه داده گیاهان
  </h1>

  <aside class="above-sidebar full-width " style="visibility: visible; animation-name: fadeInDown;">
    <ul class="boxed plant_search">
      <%= form_tag search_plants_path , remote: true, id: "search_form"  do %>
      <%= text_field_tag :input, "" , id: "search_input", class: "" , placeholder: "نام گیاه مورد نظرتان را وارد کنید: مثلا بن سای" %>
      <% end %>
      <script>
      $(document).ready(function() {
        $('#search_input').bind('keyup', function() {
          $('#search_form').delay(200).submit();
        });
      });
      </script>
    </ul>
  </aside>

  <section class="content full-width">

    <div id="pagination_table" class="landing">
      <% @plants.each do |p| %>
      <%= render 'plants/sample' , :p => p %>
      <% end %>
    </div>
  </section>

  <!-- </div> -->
  <!-- <div class="row"> -->
  <div class="center">
    <%= link_to "همه گیاهان" , plants_path , class: "button" %>
    <a href="javascript:void(0)" class="button scroll-to-top">
      برگرد بالا
    </a>
  </div>
  <!-- </div> -->

</div>
</div>

<script type="application/javascript">
$('.fa').click(function(){
  $('#myspinner').css('display','block');
});

(function($) {
  var element = $('.follow-scroll'),
  originalY = element.offset().top;

  // Space between element and top of screen (when scrolling)
  var topMargin = 20;

  // Should probably be set in CSS; but here just for emphasis
  element.css('position', 'relative');
  // element.css('bottom', '500px');


  $(window).on('scroll', function(event) {
    var scrollTop = $(window).scrollTop();
    if (! /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      // some code..
      element.stop(false, false).animate({
        top: scrollTop < originalY
        ? 0
        : scrollTop - originalY + topMargin
      },1000);
    }
  });
})(jQuery);
</script>
