<div class="col-md-6 well col-md-push-3" >
	<div class="col-md-6 col-md-push-3">
	<h1>Editing Garden</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @garden , :class=>"btn btn-default"%> |
		<%= link_to 'Back', gardens_path, :class=>"btn btn-default" %>
	</div>
</div>
