// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_in_bt{
	width:200px;
	margin-right:6%;
}
.forget_text{
}
.main_text{
	color: rgb(255, 248, 243);
	font-size:20px !important;
}
.main_text_margin{
	margin-right:45%;
}
.bold_main{
	font-weight:bold !important ;
	font-size:24px !important;
}
.garden_title{
	color:#5e3333 !important;
	font-size:30px !important;
}
.title_in_middle{
	color:#ED8080;
}

.category_item{
	float: right !important;
	background: white;
	padding: 20px !important;
	text-align: center;
	margin: 10px;
//	height: 240px !important;
}
.services_text{
	margin-top:10px;
	font-size:14.5px;
}