// Place all the styles related to the planters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image_in_planter{
	float:left;
	margin:1%;
}
.make_center{
	text-align:center;
}
.make_right{
	text-align:right;
	font-weight:bold;
}
.make_dir_right{
	float:right;
}
.righted{
  float: right !important;
  direction: rtl;
}
.lefted{
  float: left !important;
}

.bold{
  font-weight: bold;
}
