
/*ICONS*/
.ico 		{display:inline-block;overflow:hidden;background-image:asset_url('assets/icons.png');background-repeat:no-repeat}

.i-simpleflower   {background-position: -1px -102px; width: 40px; height: 40px;}
.i-watering {background-position: -40px -62px;
  width: 40px;
  height: 40px;}


.i-flower_in_pot {background-position: -120px -62px;
  width: 40px;
  height: 40px;}

.i-plant_with_flower{background-position: -240px -62px;
  width: 40px;
  height: 40px;}

.i-ghonche {
  background-position: -280px -62px;
  width: 40px;
  height: 40px;
}

.i-sunning{background-position: -240px -62px;
  width: 40px;
  height: 40px;
}

.i-bill{
  background-position: -160px -102px;
  width: 40px;
  height: 40px;
}

.i-gheichi{
  background-position: -200px -102px;
  width: 40px;
  height: 40px;
}

.i-satle_ab{background-position: -242px -102px;
  width: 40px;
  height: 40px;
}

.i-smallplant{
  background-position: -204px -30px;
  width: 28px;
  height: 25px;
}





















