<div class="entry one-fourth">
  <figure style="overflow: hidden;   height: 140px;">
    <%= image_tag "warm2.jpg" , class: "fill_parent"   %>
    <figcaption>
      <%= link_to "#" do  %>
      <i class="ico i-view"></i> <span>
        دمای گیاه
      </span>
      <%end%>
    </figcaption>
  </figure>
  <div class="container make_right">
    <p style="height: 60px; text-align: center;">
      دمای گیاه
    </p>
    <div class="actions">
      <div>
        <div class="difficulty">
          وضعیت:
خوب
        </div>
        <div class="difficulty">
          میانگین:
          <%= probe.records.average(:tempreature) %>
        </div>
      </div>
    </div>
  </div>
</div>
