<% active_nav_item :catalogue %>
<% @page_title = @product_category.name %>

<div class="content three-fourth">

  <ul class="" style="float: right; width: 100%">
    <%= render 'shared/product_under_category', :products => @products %>
  </ul>

</div>

<!--%h2= @product_category.name-->
<!--- unless @product_category.description.blank?-->
  <!--%p.intro= @product_category.description-->
<!--- if @products.empty?-->
  <!--%p.noProducts There are no products in this category-->
<!--- else-->
  <!--= render 'shared/product_list', :products => @products-->
