<section class="three-fourth make_center content">


  <div class="cwrap">
    <h1 class="">
    </h1>

    <div class="cwrap">

    </div>
  </div>

  <div class="clearfix"></div>

    <%= render 'shared/cheapest' %>

  <div class="clearfix"></div>

    <%= render 'shared/latest_products' %>
  <div class="quicklinks">
    <a href="#" class="button">
      صفحه کاربری من
    </a>
    <a href="javascript:void(0)" class="button scroll-to-top">بازگشت به بالا</a>
  </div>

</section>

</div>
</main>